@model DotNet.Highcharts.Highcharts
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@(Model)

<h2>Report</h2>

<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <asp:Literal ID="ltrChart" runat="server"></asp:Literal>
</asp:Content>

@section scripts
{
    <script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js" type="text/javascript"></script>
    
    <script type="text/javascript">
        PageController = function () {
            var hub = null;
            self = this;
           
            self.setupSignalR = function () {
                console.log('creating connection');
                connection = $.hubConnection();

                hub = connection.createHubProxy('feedbackHub');

                hub.on('feedback', function (presentationCode, questionCode, answer1, answer2, answer3, answer4, feedback) {

                    alert(presentationCode);

                });

                connection.start(function () {
                    console.log('connection started');
                    alert('test');
                });
            };
        };

        $(function () {
            var controller = new PageController();
            controller.setupSignalR();
        });

    </script>
    
}
